.card-form {
  background-color: white;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 64px;
  padding-left: 64px;
}
.styleIcon {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.25);
  margin-right: 8px;
}
#detailFormModal {
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  opacity: 1;
}
#detailForm {
  color: #aaaaaa !important;
  float: left;
}
#rowHeadTopic {
  float: left;
  margin: 24px;
}
#styletopic {
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #aaaaaa;
  opacity: 1;
}
#cardInfomatioCom {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding-left: 64px;
  padding-right: 64px;
  opacity: 1;
}
.bttSubmit {
  width: 640;
  height: 40;
  border-radius: 5;
  color: "#FFF";
  background: "#74957C 0% 0% no-repeat padding-box";
}
.modalSubmit {
  margin-right: "124px";
  width: 248;
  height: 40;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 24px;
  color: #fff;
  background: #74957c 0% 0% no-repeat padding-box;
}
.addModal {
  width: 175px;
  height: 40px;
  border-radius: 8px;
  color: #fff;
  background: #333333 0% 0% no-repeat padding-box;
  margin-bottom: 24;
}
