.changeColorMn:hover {
  background-color: #9ed79f !important;
}
#menu {
  background: #fafafa 0% 0% no-repeat padding-box !important;
  opacity: 1;
  border-bottom: 0px;
  margin-left: 164px;
  margin-right: 164px;
}
.imgLogo {
  width: 80%;
  height: 80%;
}
#headee {
  margin-top: 32px;
  margin-left: 164px;
  margin-right: 164px;
  text-align: left;
  height: 2000;
}

#txtHead {
  text-align: right;
}
#colTxt {
  margin-top: 56px;
}
