.site-layout-content {
  background: #ffffff 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 6px #00000029;
  padding: 64px;
  min-height: 280px;
}
#contentArea {
  padding: 0 196px;
  margin-top: 64px;
  margin-bottom: 64px;
}
body {
  background: #fafafa;
}
#root > div > section {
  background: #fafafa;
}
.areaCompany {
  margin: 24px 0px;
}
.atp1 {
  text-align: left;
  margin: 24px 0px;
}
.atp2 {
  text-align: right;
  margin: 24px 0px;
}
.headerInv {
  text-align: center;
  font-size: 40px;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}
.cssNote {
  margin-top: 160px;
}
.cssTable {
  margin-top: 48px;
}
.paragrapNote {
  margin-top: 32px;
  margin-bottom: 288px;
}
.stNote {
  font-size: 24px;
  letter-spacing: 0px;
  color: #424242;
}
.nt2 {
  text-align: left;
  margin: 24px 16px;
  font-size: 16px;
}
.nt1 {
  text-align: right;
  margin: 24px 0px;
  font-size: 16px;
}
